@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1201px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == colBreakpoint2 {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == colBreakpoint3 {
    @media (min-width: 800px) { @content; }
  }
  @else if $point == colBreakpoint4 {
    @media (min-width: 1000px) { @content; }
  }
  @else if $point == colBreakpoint5 {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == colBreakpoint6 {
    @media (min-width: 1400px) { @content; }
  }
  @else if $point == colBreakpoint7 {
    @media (min-width: 1600px) { @content; }
  }
  @else if $point == colBreakpoint8 {
    @media (min-width: 1800px) { @content; }
  }
  @else if $point == colBreakpoint9 {
    @media (min-width: 6000px) { @content; }
  }
}

@mixin button( $primary-color ){

    // the primary color is the "pure" version that we adjust for actual use
    $whited-color: mix( white, $primary-color, 20% );
    $blacked-color: mix( black, $primary-color, 20% );

    color: $whited-color;
    border: 1px solid $whited-color;
    transition: all .1s linear;

    &:hover{
        color: white;
        border: 1px solid $blacked-color;
        background: $whited-color
    }
}

// Add percentage of white to a color
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}


@mixin dropdown(){
  position: absolute;
  z-index: 9999;
  background: #eee;
  box-shadow: 0 0 12px #999;
  border: 1px solid #555;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  li{
    position: relative;
    margin: 0;
    padding: 0;
    &.divider{
      border-bottom: 1px solid #555;
    }
  }
  input{
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
  }
  a, label{
    cursor: pointer;
    display: block;
    padding: .25em 1em;
    color: #555;
    white-space: nowrap;
    font-weight: 700;
    font-size: 12px;
    line-height: 2em;
    text-decoration: none;
    &:hover{
      background: #555;
      color: white;
    }
  }
  :checked + label:before{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: 8px;
    left: 4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent currentColor;
  }
}

@mixin body-bg( $base-color, $swirl-color ){
    background: radial-gradient(circle at 100% 50%, transparent 20%, $swirl-color 21%, $swirl-color 34%, transparent 35%, transparent),
                radial-gradient(circle at 0% 50%, transparent 20%, $swirl-color 21%, $swirl-color 34%, transparent 35%, transparent) 0 -50px;
    background-color: $base-color;
    background-size: 75px 100px;
}