// GM
// $primary_color : #223366;

// Acura
// $primary_color : black;
// $qa-indicator-color: rgba(0,255,0,.8);

// Nissan
$primary_color : #009900;
$qa-indicator-color: magenta;

// KBB
// $primary_color : #336699;
// $qa-indicator-color: magenta;

$btn-bg : #ddd;

$header-bg-color: #B7410E;
$body-bg-color-added: #bfb;
$body-bg-color-updated: #bbf;
$body-bg-color-current: #aaa;
$body-bg-color-error: #f66;
$body-bg-color-success: #6f6;
$body-bg-color-info: #66f;
$body-bg-color-warning: #fc6;

$zindex-nav: 6000;
$zindex-tooltip: 7000;
$zindex-overlay-bg: 5000;
$zindex-overlay: 6000;