/*
    __                                        _       __    __
   / /_  ____ _________     _   ______ ______(_)___ _/ /_  / /__  _____
  / __ \/ __ `/ ___/ _ \   | | / / __ `/ ___/ / __ `/ __ \/ / _ \/ ___/
 / /_/ / /_/ (__  )  __/   | |/ / /_/ / /  / / /_/ / /_/ / /  __(__  )
/_.___/\__,_/____/\___/    |___/\__,_/_/  /_/\__,_/_.___/_/\___/____/


 these are system-wide variables and normally will NOT be overridden by skins

*/
$btn-bg : #ddd;

$header-bg-color: #B7410E;
$body-bg-color-added: #bfb;
$body-bg-color-updated: #bbf;
$body-bg-color-current: #aaa;
$body-bg-color-error: #f66;
$body-bg-color-success: #6f6;
$body-bg-color-info: #66f;
$body-bg-color-warning: #fc6;

$zindex-nav:             6000;
$zindex-tooltip:         7000;
$zindex-messages-window: 8000;
$zindex-overlay-bg:      5000;
$zindex-overlay:         6000;

$message-log: #999999;
$message-info: #336699;
$message-debug: purple;
$message-warn: mix( black, gold, 50% );
$message-error: #cc0000;


/*

         __   _                           _       __    __
   _____/ /__(_)___     _   ______ ______(_)___ _/ /_  / /__  _____
  / ___/ //_/ / __ \   | | / / __ `/ ___/ / __ `/ __ \/ / _ \/ ___/
 (__  ) ,< / / / / /   | |/ / /_/ / /  / / /_/ / /_/ / /  __(__  )
/____/_/|_/_/_/ /_/    |___/\__,_/_/  /_/\__,_/_.___/_/\___/____/


  DEFAULTS THAT SHOULD BE OVERRIDDEN BY THE CURRENT SKIN

*/
$primary_color : #000000;
$qa-indicator-color: orange;
