// for the "grid level" drop downs that show to the top right of the grid
.adf-grid-actions-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    .dropdown-wrapper{
        position: relative;
        margin-right: calc( 1em + 1px );
        float: right;
        background: tint( $primary_color, 40% );
        padding-bottom: 2px;
    }
    .primary-options,
    .footer-options {
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    }
}
.adf-grid-actions {
    float: right;
    background: rgba( $primary_color, .5 );
    margin-right: 10px;
    padding: 4px 4px 3px;
    &> * {
        position: relative;
        display: inline-block;
    }
    a {
        color: #444;
    }
    .btn {
        line-height: 1.75em;
        min-height: 1.75em;
        border-color: white;
        background: #ddd;
    }
}
.record-add-control-input {
    display: none;
    position: absolute;
    top: calc( 100% - 1px );
    left: .25em;
    right: .25em;
    font-size: 12px;
    background: #ddd;
    border: white solid;
    border-width: 0 1px 1px;    

}
.adf-grid-actions .open .record-add-control-input {
    display: block;
}
.btn.btn-addRecords {
    padding: 0 1em;
    &> *{
        position: relative;
    }
}
.record-add-control {
    cursor: pointer;
    display: inline-block;
}