// for the header cell filters
.grid-header-filter.dropdown-wrapper{
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    width: 2em;
    right: 0;
    .dropdown-label{
        display: none;
    }
    .dropdown-toggle{
        background: rgba( 255, 255, 255, .2 );
    }
    .dropdown-toggle-caret {
        svg {
            height: 12px;
            width: 12px;
            fill: white;
        }
        &::before {
            content: none;
        }
    }
    .is-filtered & {
        .dropdown-toggle {
            background: $is-filtered-icon-background;
        }
        @if $is-filtered-icon-color {
            .dropdown-toggle-caret {
                svg {
                   fill: $is-filtered-icon-color;
                }
            }

        }
    }
    .dropdown-inner .dropdown-menu{
        left: auto;
        width: 30em;
        height: 300px;
        overflow-y: hidden;
        padding-top: 2em;
        a {
            padding: 0 1em;
        }
        input.dropdown-text-filter {
            left: .3em;
            opacity: 1;
            width: 17em;
            padding: 2px;
            font-size: .8em;
            top: .3em;
            z-index: $zindex-overlay + 10;
        }
    }
    .primary-options {
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        height: 270px;
        li {
           list-style: none;
           padding: 0;
           margin: 0;
        }
    }
    .dropdown-inner .footer-options {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: mix( $primary-color, white, 30% );
        text-align: right;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #666;
        li {
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block;
        }
    }
}
