tbody{
    // HOVER
        tr:hover td{
            box-shadow: inset 0 0 40px 80px rgba( #000000, .1 ) !important;   //hate it but for this use it maybe seems okay?
        }

    // current UI status (not database record status)
        .current:nth-child(odd) td{
          background: #e5e5e5;
        }
        .current:nth-child(even) td{
          background: #f7f7f7;
        }
        .added:nth-child(odd) td{
            background: $body-bg-color-added;
        }
        .added:nth-child(even) td{
            background: $body-bg-color-added;
        }
        .updated:nth-child(odd) td{
            background: $body-bg-color-updated;
        }
        .updated:nth-child(even) td{
            background: $body-bg-color-updated;
        }
        .error:nth-child(odd) td{
            background: $body-bg-color-error;
        }
        .error:nth-child(even) td{
            background: $body-bg-color-error;
        }

    // INACTIVE record styling
        .adf-record.status-code-I td {
            background-color: #ddd;
            background-image: repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
            opacity: .5;
        }    
        
    // TODO: make these work and make sure they are still logical
    .current{
        .action-save,
        .action-revert{
            display: none;
        }
    }
    .processing{
        .action{
            display: none;
        }
    }
    .added{
        *[data-header-id="id"] span{
            display: none;
        }
        .action-revert,
        .action-clone{
            display: none;
        }
    }
    .updated{
        .action-clone{
            display: none;
        }
    }
}