.adf-grid thead{
    .tooltip-trigger {
        top: 0;
        right: 15px;
        height: 1em;
        cursor: help;
        width: 15px;
        .icon-tooltip {
            position: absolute;
            top: -2px;
            right: 0;
        }
        svg {
            width: 80%;
            fill: white;
        }
    }
}