.select-fancy-wrapper {
    position: relative;
    width: 190px;
    &:hover .select-fancy-clear {
        display: block;
    }
}
.select-fancy-control {
    position: absolute;
    right: 0;
    background: #ccc;
    cursor: pointer;
    border: 1px solid #999;
    color: white;
    font-size: 9px;
    &:hover {
        border-color: #666;
        color: black;
        background:white;
    }
}
.select-fancy-clear {
    top: 0;
}
.select-fancy-toggle {
    bottom: 0;
}
.select-fancy-options {
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    border: 1px solid #999;
    box-shadow: 2px 6px 6px #ccc;
    background: white;
    font-size: 14px;
    text-align: left;
    z-index: $zindex-select-fancy;
    &:empty {
        display: none;
    }
    &:first-child a {
        border-bottom: 0;
    }
    a {
        display: block;
        padding: 2px 2px 2px 20px;
        text-indent: -18px;
        border-bottom: 1px solid #ccc;
        text-decoration: none;
        color: #555;
    }
    .highlight,
    a:hover {
        background: rgba( 0, 0, 0, .2 );
    }
}