<li class="option" data-value="{{value}}">
    {{selectFancyLink value label }}
    {{#if tooltip}}
        <i class="icon icon-tooltip select2-help-text">
            <span class="tooltip">
                {{{tooltip}}}
            </span>
        </i>
    {{/if}}
</li>