.adf-grid-wrapper {
  position: relative;
  padding-top: 1px; }
  .loading .adf-grid-wrapper {
    opacity: 0.25; }

.adf-grid {
  margin: 0 auto;
  width: calc( 100% - 2em);
  border-collapse: collapse; }
  .adf-grid th, .adf-grid td {
    position: relative;
    text-align: center;
    padding: 4px 0;
    text-align: center;
    padding: 5px 3px;
    border-left: 1px solid #eee; }
    .adf-grid th:first-child, .adf-grid td:first-child {
      border-left: 0; }
    .adf-grid th[data-column-select-priority="2"], .adf-grid td[data-column-select-priority="2"] {
      display: none; }
    .adf-grid th[data-column-select-priority="3"], .adf-grid td[data-column-select-priority="3"] {
      display: none; }
    .adf-grid th[data-column-select-priority="4"], .adf-grid td[data-column-select-priority="4"] {
      display: none; }
    .adf-grid th[data-column-select-priority="5"], .adf-grid td[data-column-select-priority="5"] {
      display: none; }
    .adf-grid th[data-column-select-priority="6"], .adf-grid td[data-column-select-priority="6"] {
      display: none; }
    .adf-grid th[data-column-select-priority="7"], .adf-grid td[data-column-select-priority="7"] {
      display: none; }
    .adf-grid th[data-column-select-priority="8"], .adf-grid td[data-column-select-priority="8"] {
      display: none; }
    .adf-grid th[data-column-select-priority="9"], .adf-grid td[data-column-select-priority="9"] {
      display: none; }
    @media (min-width: 600px) {
      .adf-grid th[data-column-select-priority="2"], .adf-grid td[data-column-select-priority="2"] {
        display: table-cell; }
 }
    @media (min-width: 800px) {
      .adf-grid th[data-column-select-priority="3"], .adf-grid td[data-column-select-priority="3"] {
        display: table-cell; }
 }
    @media (min-width: 1000px) {
      .adf-grid th[data-column-select-priority="4"], .adf-grid td[data-column-select-priority="4"] {
        display: table-cell; }
 }
    @media (min-width: 1200px) {
      .adf-grid th[data-column-select-priority="5"], .adf-grid td[data-column-select-priority="5"] {
        display: table-cell; }
 }
    @media (min-width: 1400px) {
      .adf-grid th[data-column-select-priority="6"], .adf-grid td[data-column-select-priority="6"] {
        display: table-cell; }
 }
    @media (min-width: 1600px) {
      .adf-grid th[data-column-select-priority="7"], .adf-grid td[data-column-select-priority="7"] {
        display: table-cell; }
 }
    @media (min-width: 1800px) {
      .adf-grid th[data-column-select-priority="8"], .adf-grid td[data-column-select-priority="8"] {
        display: table-cell; }
 }
    @media (min-width: 6000px) {
      .adf-grid th[data-column-select-priority="9"], .adf-grid td[data-column-select-priority="9"] {
        display: table-cell; }
 }
  .adf-grid thead th {
    font-size: 1em;
    border: solid #999;
    border-width: 0 1px 1px 0;
    padding: 0 0.5em;
    background: #000000;
    color: white;
    position: relative;
    line-height: 2em;
    white-space: nowrap; }
    .adf-grid thead th.has-tooltip {
      padding-left: 2.5em; }
    .adf-grid thead th.has-filter {
      padding-right: 2.5em; }
    .adf-grid thead th .adf-grid-header-cell-triggers {
      position: absolute;
      right: 0.5em; }
  .adf-grid tbody .current:nth-child(odd) td {
    background: #e5e5e5; }
  .adf-grid tbody .current:nth-child(even) td {
    background: #f7f7f7; }
  .adf-grid tbody .added:nth-child(odd) td {
    background: #bfb; }
  .adf-grid tbody .added:nth-child(even) td {
    background: #bfb; }
  .adf-grid tbody .updated:nth-child(odd) td {
    background: #bbf; }
  .adf-grid tbody .updated:nth-child(even) td {
    background: #bbf; }
  .adf-grid tbody .error:nth-child(odd) td {
    background: #f66; }
  .adf-grid tbody .error:nth-child(even) td {
    background: #f66; }
  .adf-grid tbody .current .action-save, .adf-grid tbody .current .action-revert {
    display: none; }
  .adf-grid tbody .processing .action {
    display: none; }
  .adf-grid tbody .added *[data-header-id="id"] span {
    display: none; }
  .adf-grid tbody .added .action-revert, .adf-grid tbody .added .action-clone {
    display: none; }
  .adf-grid tbody .updated .action-clone {
    display: none; }
  .adf-grid .adf-cell-actions {
    white-space: nowrap;
    font-size: 0;
    position: relative; }
    @media (max-width: 1200px) {
      .adf-grid .adf-cell-actions .btn {
        padding: 0 1em;
        border: 0; }
        .adf-grid .adf-cell-actions .btn svg {
          top: 0.25em;
          left: 0.25em;
          height: 1.5em; }
        .adf-grid .adf-cell-actions .btn span {
          display: none; }
        .adf-grid .adf-cell-actions .btn:hover {
          border: 0; }
 }
    .adf-grid .adf-cell-actions .adf-grid-row-messages {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 100%;
      font-size: 13px;
      font-weight: 700;
      padding: 3px;
      color: black;
      overflow: hidden; }
      .adf-grid .adf-cell-actions .adf-grid-row-messages.success {
        border: 1px solid #6f6;
        background: #6f6; }
      .adf-grid .adf-cell-actions .adf-grid-row-messages.error {
        border: 1px solid #f66;
        background: #f66; }
      .adf-grid .adf-cell-actions .adf-grid-row-messages.info {
        border: 1px solid #66f;
        background: #66f; }
      .adf-grid .adf-cell-actions .adf-grid-row-messages.warning {
        border: 1px solid #fc6;
        background: #fc6; }

.grid-header-filter.dropdown-wrapper {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  width: 100%; }
  .grid-header-filter.dropdown-wrapper .dropdown-toggle-caret {
    position: absolute;
    right: 0.5em; }
  .grid-header-filter.dropdown-wrapper .dropdown-label {
    display: none; }
  .grid-header-filter.dropdown-wrapper .dropdown-toggle {
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    color: white; }
  .grid-header-filter.dropdown-wrapper .dropdown-menu {
    top: 1em; }

.adf-grid-actions-wrapper .dropdown-wrapper {
  position: relative;
  margin-right: 1em;
  float: right;
  background: #666666; }

.adf-grid thead .icon-tooltip {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2em;
  background: rgba(255, 255, 255, 0.1); }
  .adf-grid thead .icon-tooltip:before {
    content: "\f059";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; }

.btn {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: 100;
  padding: 0 1em 0 2em;
  text-decoration: none;
  margin: 0 0.25em;
  position: relative;
  line-height: 2em;
  min-height: 2em;
  color: #333333;
  border: 1px solid #333333;
  transition: all 0.1s linear; }
  .btn:hover {
    color: white;
    border: 1px solid black;
    background: #333333; }
  .btn svg {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    height: 1em;
    fill: currentColor; }
  .btn.btn-save, .btn.btn-query, .btn.btn-run, .btn.btn-add {
    color: #339233;
    border: 1px solid #339233;
    transition: all 0.1s linear; }
    .btn.btn-save:hover, .btn.btn-query:hover, .btn.btn-run:hover, .btn.btn-add:hover {
      color: white;
      border: 1px solid #005f00;
      background: #339233; }

.content .page-title {
  margin: 0;
  padding: 0.25em;
  background: rgba(0, 0, 0, 0.5); }

dialog {
  display: none;
  position: fixed;
  top: 2em;
  right: auto;
  bottom: 2em;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  min-width: 30em;
  min-height: 30em;
  padding: 0;
  border: 0;
  background: white; }
  .dialog-open dialog {
    display: block; }
  dialog .dialog-header, dialog .dialog-footer {
    padding: 0.5em; }
  dialog .dialog-header {
    position: relative;
    border-bottom: 1px solid #666;
    font-size: 18px;
    font-weight: 700;
    background: #eee; }
    dialog .dialog-header .dialog-close {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 40px;
      border: 0;
      background: black;
      color: white;
      cursor: pointer; }
  dialog .dialog-body {
    padding: 0.5em;
    min-height: 10em; }
  dialog .dialog-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #666;
    background: #eee;
    text-align: right; }

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); }

.module-placeholder {
  height: 30px;
  background: rgba(0, 0, 0, 0.5); }

.module-list-wrapper {
  padding: 12px 10px 12px 6px; }
  .module-list-wrapper[data-adf-dnd-target=true].dnd-active {
    box-shadow: inset 0 0 8px 1px #393; }

.module {
  border: 1px solid #b2b2b2;
  box-shadow: 2px 2px 6px #7f7f7f;
  position: relative; }
  .module.updated header {
    background: #bbf; }
  .module.error header {
    background: #f66; }
  .module .dnd-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: #000000;
    color: white;
    z-index: 20;
    cursor: move; }
  .module header {
    position: relative;
    display: block;
    height: 2em;
    padding-left: 2.5em;
    background: #999999;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase; }
    .module header p {
      margin: 0;
      line-height: 2em; }
    .module header .module-details-toggle {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      border: 0;
      background: transparent;
      cursor: pointer; }

.dropdown-wrapper .dropdown-inner {
  display: block;
  min-width: 150px;
  position: relative;
  color: white; }
  .dropdown-wrapper .dropdown-inner .dropdown-label {
    white-space: nowrap; }
  .dropdown-wrapper .dropdown-inner button {
    display: block;
    float: left;
    height: 2em;
    width: calc( 100% - 2em);
    margin: 0;
    padding: 3px 8px;
    color: inherit;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: 0; }
  .dropdown-wrapper .dropdown-inner .dropdown-toggle-caret {
    width: 2em; }
    .dropdown-wrapper .dropdown-inner .dropdown-toggle-caret .caret {
      font-family: 'FontAwesome'; }
  .dropdown-wrapper .dropdown-inner .dropdown-menu {
    position: absolute;
    z-index: 9999;
    background: #eee;
    box-shadow: 0 0 12px #999;
    border: 1px solid #555;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    top: 2em;
    left: 0;
    right: 0; }
    .dropdown-wrapper .dropdown-inner .dropdown-menu li {
      position: relative;
      margin: 0;
      padding: 0; }
      .dropdown-wrapper .dropdown-inner .dropdown-menu li.divider {
        border-bottom: 1px solid #555; }
    .dropdown-wrapper .dropdown-inner .dropdown-menu input {
      position: absolute;
      top: 0;
      left: -100%;
      opacity: 0; }
    .dropdown-wrapper .dropdown-inner .dropdown-menu a, .dropdown-wrapper .dropdown-inner .dropdown-menu label {
      cursor: pointer;
      display: block;
      padding: 0.25em 1em;
      color: #555;
      white-space: nowrap;
      font-weight: 700;
      font-size: 12px;
      line-height: 2em;
      text-decoration: none; }
      .dropdown-wrapper .dropdown-inner .dropdown-menu a:hover, .dropdown-wrapper .dropdown-inner .dropdown-menu label:hover {
        background: #555;
        color: white; }
    .dropdown-wrapper .dropdown-inner .dropdown-menu :checked + label:before {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      top: 8px;
      left: 4px;
      border-width: 4px;
      border-style: solid;
      border-color: transparent transparent transparent currentColor; }
  .dropdown-wrapper .dropdown-inner:hover {
    color: #cccccc; }

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

fieldset {
  border: 1px solid #b2b2b2;
  position: relative;
  padding: 2em 0.5em 0.5em; }
  fieldset legend {
    position: relative;
    top: 1em;
    display: block;
    height: 2em;
    width: calc( 100% + 1em);
    margin: 0 -0.5em;
    padding: 0.25em;
    background: #999999;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase; }

.form-horizontal {
  width: 100%; }
  .form-horizontal .form-row label {
    text-align: right;
    line-height: 1.5em; }
  .form-horizontal .form-row .form-input {
    display: flex;
    flex-flow: row wrap; }
    .form-horizontal .form-row .form-input .form-input-field, .form-horizontal .form-row .form-input .form-input-addon {
      border: 1px solid rgba(147, 128, 108, 0.75);
      line-height: 2em; }
      .form-horizontal .form-row .form-input .form-input-field:first-child, .form-horizontal .form-row .form-input .form-input-addon:first-child {
        border-radius: 2px 0 0 2px; }
      .form-horizontal .form-row .form-input .form-input-field:last-child, .form-horizontal .form-row .form-input .form-input-addon:last-child {
        border-radius: 0 2px 2px 0; }
      .form-horizontal .form-row .form-input .form-input-field:only-child, .form-horizontal .form-row .form-input .form-input-addon:only-child {
        border-radius: 2px; }
    .form-horizontal .form-row .form-input .form-input-field {
      flex: 1;
      margin: 0; }
      .form-horizontal .form-row .form-input .form-input-field:not(:first-child) {
        border-left: 0; }
    .form-horizontal .form-row .form-input .form-input-addon {
      padding: 0 0.75em;
      background-color: rgba(147, 128, 108, 0.1);
      color: #666666;
      font-size: 0.9em; }

select {
  font-size: 13px;
  border: 0; }

input[type=email], input[type=text], input[type=url] {
  padding: 6px 4px;
  font-size: 1em; }

.layout-grid .row {
  display: flex;
  flex-flow: row wrap; }
.layout-grid *[class*=layout-grid] {
  margin: 0.5em; }
  .layout-grid *[class*=layout-grid].grid-inner-pad {
    padding: 1em; }
.layout-grid fieldset[class*=layout-grid].layout-grid-inner-pad {
  padding: 3em 1em 1em; }
.layout-grid .layout-grid-1 {
  flex: 1; }
.layout-grid .layout-grid-2 {
  flex: 2; }
.layout-grid .layout-grid-3 {
  flex: 3; }
.layout-grid .layout-grid-4 {
  flex: 4; }
.layout-grid .layout-grid-5 {
  flex: 5; }
.layout-grid .layout-grid-6 {
  flex: 6; }
.layout-grid .layout-grid-7 {
  flex: 7; }
.layout-grid .layout-grid-8 {
  flex: 8; }
.layout-grid .layout-grid-9 {
  flex: 9; }
.layout-grid .layout-grid-10 {
  flex: 10; }
.layout-grid .layout-grid-11 {
  flex: 11; }
.layout-grid .layout-grid-12 {
  flex: 12; }

.layout-grid-zebra .row:nth-child(odd) {
  background: #ddd; }

.icon:before {
  display: inline-block;
  margin-right: 4px;
  font-family: 'FontAwesome';
  font-style: normal; }

.icon-refresh:before {
  content: '\f021'; }

.icon-times:before {
  content: '\f00d'; }

.icon-save:before {
  content: '\f0c7'; }

.icon-edit:before {
  content: '\f040'; }

.icon-run:before {
  content: '\f0e2'; }

.icon-inactivate:before {
  content: '\f014'; }

.icon-help:before, .icon-tooltip:before {
  content: '\f128'; }

.icon-search:before {
  content: '\f002'; }

.icon-clone:before {
  content: '\f0c5'; }

.icon-revert:before {
  content: '\f0e2'; }

.icon-filter:before {
  content: "\f0d7"; }

.icon-filter-on:before {
  content: '\f0b0'; }

.icon-add:before {
  content: '\f067'; }

.icon-sort:before {
  content: '\f0dc'; }

.icon-sort-asc:before {
  content: '\f0de'; }

.icon-sort-desc:before {
  content: '\f0dd'; }

.icon-go:before, .icon-query:before {
  content: '\f04b'; }

.icon-handle:before {
  content: '\f0c9'; }

.icon-closed:before {
  content: '\f07b'; }

.icon-open:before {
  content: '\f07c'; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255, 255, 255, 0.1) 21%, rgba(255, 255, 255, 0.1) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255, 255, 255, 0.1) 21%, rgba(255, 255, 255, 0.1) 34%, transparent 35%, transparent) 0 -50px;
  background-color: #000000;
  background-size: 75px 100px;
  font-size: 14px;
  font-family: 'Lato'; }
  body.environment-qa {
    background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(0, 255, 0, 0.8) 21%, rgba(0, 255, 0, 0.8) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(0, 255, 0, 0.8) 21%, rgba(0, 255, 0, 0.8) 34%, transparent 35%, transparent) 0 -50px;
    background-color: #000000;
    background-size: 75px 100px; }
  body.dialog-open > header *, body.dialog-open > main * {
    filter: blur(1px); }

.content {
  margin: 4px 20px;
  background: #eee;
  min-height: 800px; }

body > svg {
  display: none; }

.nav-header {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  /* RESET */
  /* DEFAULTS */
  /* CHILDREN INDICATOR */
  /* ***********************************************
          levels
       *********************************************** */
  /* ***********************************************
          items
       *********************************************** */
  /* ***********************************************
          right side overrides
       *********************************************** */
  /* ***********************************************
          actions
       *********************************************** */ }
  .nav-header ul, .nav-header li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .nav-header a {
    display: block;
    margin: 0.25em 0;
    padding: 0.5em 1em;
    overflow: hidden;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media (max-width: 1200px) {
      .nav-header a {
        font-size: 11px; } }
  .nav-header li.has-children:after {
    position: absolute;
    display: block;
    font-family: "FontAwesome";
    color: #7f7f7f;
    font-size: 12px; }
  .nav-header li:hover.has-children:after {
    display: none; }
  .nav-header .nav-level--1 {
    display: flex;
    justify-content: space-around;
    width: calc( 100% - 20px); }
  .nav-header .nav-level--2 {
    top: 100%;
    width: 150%;
    z-index: 6000; }
  .nav-header .nav-level--3 {
    top: 0;
    width: 100%; }
  .nav-header .nav-level--2, .nav-header .nav-level--3 {
    position: absolute;
    opacity: 0;
    left: -9999px;
    background: #191919;
    transition: 0.4s opacity linear; }
    .nav-header .nav-level--2 a, .nav-header .nav-level--3 a {
      color: white;
      text-overflow: ellipsis;
      overflow: hidden; }
  .nav-header .nav-item--1, .nav-header .nav-item--2, .nav-header .nav-item--3 {
    transition: 0.1s all linear; }
    .nav-header .nav-item--1:hover, .nav-header .nav-item--2:hover, .nav-header .nav-item--3:hover {
      background: #4c4c4c; }
  .nav-header .nav-item--1 {
    position: relative;
    flex: 1; }
    @media (max-width: 1200px) {
      .nav-header .nav-item--1 {
        border-left: 1px dotted #000000; } }
    .nav-header .nav-item--1.has-children:after {
      content: "\f0d7";
      left: 0;
      bottom: 0;
      width: 100%; }
    .nav-header .nav-item--1:hover a {
      color: white; }
    .nav-header .nav-item--1:hover .nav-level--2 {
      left: 0;
      opacity: 1; }
  .nav-header .nav-item--2 {
    position: relative;
    text-align: left; }
    .nav-header .nav-item--2.has-children:after {
      content: "\f0da";
      right: 0;
      top: 10px;
      width: 20px; }
    .nav-header .nav-item--2:hover .nav-level--3 {
      left: 100%;
      opacity: 1; }
  .nav-header .nav-item--1:nth-last-child(1):hover .nav-level--2, .nav-header .nav-item--1:nth-last-child(2):hover .nav-level--2 {
    right: 0;
    left: auto; }
  .nav-header .nav-item--1:nth-last-child(1) .nav-item--2, .nav-header .nav-item--1:nth-last-child(2) .nav-item--2 {
    text-align: right; }
    .nav-header .nav-item--1:nth-last-child(1) .nav-item--2.has-children:after, .nav-header .nav-item--1:nth-last-child(2) .nav-item--2.has-children:after {
      content: "\f0d9";
      left: 0;
      right: auto; }
    .nav-header .nav-item--1:nth-last-child(1) .nav-item--2 .nav-level--3, .nav-header .nav-item--1:nth-last-child(2) .nav-item--2 .nav-level--3 {
      left: -100%; }
  .nav-header .site-actions {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    z-index: 2;
    overflow: hidden;
    transition: 0.2s all linear;
    width: 20px; }
    .nav-header .site-actions:hover {
      width: 200px; }
    .nav-header .site-actions a {
      position: absolute;
      right: -120px;
      height: 50%;
      margin: 0;
      width: 140px;
      padding: 0 6px 2px 4px;
      display: block;
      transition: 0.2s all linear;
      background: #4c4c4c; }
      .nav-header .site-actions a:nth-child(2) {
        top: 50%; }
      .nav-header .site-actions a:hover {
        background: #4c4c4c;
        color: white;
        right: 0; }
      .nav-header .site-actions a i {
        color: #ccc; }

.nav-footer {
  margin: 4px 20px;
  text-align: right; }

.nav-footer a {
  display: inline-block;
  color: white;
  text-decoration: none; }

.nav-footer a:hover {
  text-decoration: underline; }

.select2-container-multi .select2-choices {
  width: 200px; }

.select2-option-value, .select2-option-label {
  display: block;
  vertical-align: top; }

.select2-option-label {
  padding-left: 30px;
  text-indent: -15px; }

.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 100px;
  border: 1px solid #bbb;
  background: white; }

.select2-container, .select2-drop, .select2-search, .select2-search input {
  box-sizing: border-box; }

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none; }

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa; }

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px; }

.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
  width: auto; }

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 0;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0; }

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block; }

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer; }

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998; }

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0; }

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0; }

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none; }

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb; }

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto; }

.select2-drop-auto-width .select2-search {
  padding-top: 4px; }

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  background-clip: padding-box;
  background: #ddd; }

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%; }
  .select2-container .select2-choice .select2-arrow b:before {
    content: "\f0d7";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    font-family: 'FontAwesome';
    text-align: center;
    color: #666; }

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  position: relative;
  z-index: 10000;
  white-space: nowrap; }

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 0 solid #aaa;
  border-bottom: 1px;
  box-shadow: none; }
.select2-search:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  right: 10px;
  line-height: 26px;
  font-size: 0.8em;
  content: "\F002";
  display: block;
  color: #666; }

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px; }

.select2-search input.select2-active {
  background: #009900; }

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent; }

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none; }

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px; }

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 4px 4px;
  margin: 4px 0 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background: #eee;
  border-top: 1px solid #bbb; }

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0; }

.select2-results li {
  list-style: none; }
  .select2-results li:nth-child(even) {
    background: rgba(0, 0, 0, 0.05); }
  .select2-results li.select2-highlighted {
    background: #000000;
    color: #fff; }

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold; }

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .select2-results .select2-result-label .select2-help-text {
    position: absolute;
    right: 4px; }
  .select2-results .select2-result-label .tooltip {
    top: 0;
    right: 25px;
    bottom: auto; }

.select2-results li em {
  background: #feffde;
  font-style: normal; }

.select2-results .select2-highlighted em {
  background: transparent; }

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000; }

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px; }

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default; }

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default; }

.select2-results .select2-selected {
  display: none; }

.select2-more-results.select2-active {
  background: #009900; }

.select2-more-results {
  background: #f4f4f4;
  display: list-item; }

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default; }

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0; }

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none; }

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden; }

.select2-locked {
  padding: 3px 5px 3px 5px !important; }

.select2-container-multi .select2-choices {
  min-height: 26px; }

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none; }

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  box-shadow: none;
  background: transparent !important; }

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #009900; }

.select2-default {
  color: #999 !important; }

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05); }

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default; }

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4; }

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none; }
  .select2-search-choice-close:before {
    content: "\F00d";
    position: absolute;
    display: block;
    font-family: "FontAwesome";
    font-size: 12px;
    color: #ddd; }
  .select2-search-choice-close:hover:before {
    color: #444; }

.select2-container-multi .select2-search-choice-close {
  left: 3px; }

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px; }

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px; }

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none; }

/* end multiselect */
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
  text-decoration: underline; }

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important; }

.select2-display-none {
  display: none; }

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll; }

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
    background-image: url('select2x2.png') !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important; }

  .select2-search input {
    background-position: 100% -21px !important; }
 }

.tooltip {
  display: none;
  position: absolute;
  bottom: 105%;
  opacity: 0;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 8px 1px #000000;
  border-radius: 2px;
  transition: 0.2s opacity linear;
  width: 200px;
  z-index: 7000;
  color: black;
  text-align: left;
  line-height: 1em;
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  white-space: normal; }

.icon-tooltip:before {
  content: "\f059";
  display: inline-block; }
.icon-tooltip:hover {
  color: #7f7f7f;
  cursor: help; }
  .icon-tooltip:hover .tooltip {
    display: block;
    opacity: 1; }

.adf-grid-wrapper .upload-drop-zone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border: 10px dashed transparent;
  transition: opacity 0.3s linear; }
  .droppable .adf-grid-wrapper .upload-drop-zone {
    border-color: #090;
    background: rgba(0, 200, 0, 0.2);
    z-index: 6000; }

.droppable .adf-grid-wrapper .upload-drop-zone.hover {
  border-color: #0f0;
  background: rgba(0, 255, 0, 0.5); }

.upload-progress progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 250px;
  height: 20px; }
.upload-progress progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }
.upload-progress progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%; }
  .upload-progress progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white; }
.upload-progress progress[value]::-moz-progress-bar {
  background-image: -moz-linear-gradient(135deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -moz-linear-gradient(left, #09c, #f44);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%; }

.backdrop {
  background: rgba(80, 80, 80, 0.76);
  z-index: 5000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hide {
  display: none !important; }

.loading {
  min-height: 6em; }

.to-do .done {
  color: #ccc;
  text-decoration: line-through; }
.to-do .ready-for-server {
  color: #ccc; }

.adf-grid-overlay-editor {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 6000;
  background: white;
  width: 90vw;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  box-shadow: 0 12px 12px 2px #666; }
  .adf-grid-overlay-editor.open {
    display: block; }
  .adf-grid-overlay-editor .overlay-close {
    position: absolute;
    left: 100%;
    bottom: 100%;
    padding: 0 1em;
    cursor: pointer;
    transform: translate3d(-50%, 50%, 0);
    margin: 0; }
    .adf-grid-overlay-editor .overlay-close span {
      display: none; }

.adf-messages-window {
  position: fixed;
  bottom: 0;
  z-index: 8000; }
  .adf-messages-window .messages-wrapper > div {
    display: inline-block; }
  .adf-messages-window .message {
    display: inline-block;
    padding: 4px;
    font-size: 12px;
    font-weight: normal;
    border-style: solid;
    border-width: 1px 1px 0 0; }
    .adf-messages-window .message:hover .content {
      position: absolute;
      bottom: 100%;
      left: 0;
      display: block;
      width: 50vw;
      max-height: 50vh;
      min-height: 0;
      margin: 0;
      padding: 12px;
      overflow: scroll; }
    .adf-messages-window .message.removed {
      display: none; }
  .adf-messages-window .label {
    min-width: 100px;
    position: relative; }
    .adf-messages-window .label .message-actions {
      position: absolute;
      top: 1px;
      right: 1px;
      text-align: right; }
      .adf-messages-window .label .message-actions a {
        display: inline-block; }
      .adf-messages-window .label .message-actions .icon {
        height: 1.2em; }
    .adf-messages-window .label .message-remove {
      border-radius: 50%; }
  .adf-messages-window .content {
    display: none; }
  .adf-messages-window .message-log {
    border-color: #999999;
    background: #cccccc;
    color: white; }
    .adf-messages-window .message-log:hover {
      cursor: pointer;
      background: #adadad; }
    .adf-messages-window .message-log .content {
      background: #999999; }
    .adf-messages-window .message-log .icon {
      fill: #999999;
      padding: 1px; }
  .adf-messages-window .message-info {
    border-color: #336699;
    background: #99b2cc;
    color: white; }
    .adf-messages-window .message-info:hover {
      cursor: pointer;
      background: #5b84ad; }
    .adf-messages-window .message-info .content {
      background: #336699; }
    .adf-messages-window .message-info .icon {
      fill: #336699;
      padding: 1px; }
  .adf-messages-window .message-debug {
    border-color: purple;
    background: #bf7fbf;
    color: white; }
    .adf-messages-window .message-debug:hover {
      cursor: pointer;
      background: #993399; }
    .adf-messages-window .message-debug .content {
      background: purple; }
    .adf-messages-window .message-debug .icon {
      fill: purple;
      padding: 1px; }
  .adf-messages-window .message-warn {
    border-color: #7f6b00;
    background: #bfb57f;
    color: white; }
    .adf-messages-window .message-warn:hover {
      cursor: pointer;
      background: #988833; }
    .adf-messages-window .message-warn .content {
      background: #7f6b00; }
    .adf-messages-window .message-warn .icon {
      fill: #7f6b00;
      padding: 1px; }
  .adf-messages-window .message-error {
    border-color: #cc0000;
    background: #e57f7f;
    color: white; }
    .adf-messages-window .message-error:hover {
      cursor: pointer;
      background: #d63333; }
    .adf-messages-window .message-error .content {
      background: #cc0000; }
    .adf-messages-window .message-error .icon {
      fill: #cc0000;
      padding: 1px; }
