<dialog class="layout-grid">
    <header class="dialog-header">
        {{{header}}}
        <button class="dialog-close">X</button>
    </header>
    <form method="post" class="loading form-horizontal adf-form" action="{{saveUrl}}"></form>
</dialog>