{{#if inOverlay}}
    <button type="button" class="btn btn-close overlay-close">
        <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#icon-close"></use>
        </svg>
        <span>
            Close
        </span>
    </button>
{{/if}}
<div class="adf-grid-wrapper"></div>
<form action="" method="POST" enctype="multipart/form-data"></form>
<div class="upload-drop-zone"></div>