<div class="adf-grid-wrapper">
    {{{colSelect}}}
	<table class="adf-grid">
		<thead>
			<tr>
            {{#each headers}}
                {{{html}}}
            {{/each}}
            </tr>
		</thead>
		<tbody>
            {{#each records}}
                {{{html}}}
            {{/each}}
		</tbody>
	</table>
	<form action="json/file-upload.json" method="POST" enctype="multipart/form-data"></form>
	<div class="upload-drop-zone"></div>
</div>