{{#if sortable}}
    <a href="#" class="sort-trigger"></a>
{{/if}}
{{{label}}}
{{#if tooltip}}
    <i class="icon icon-tooltip">
        <span class="tooltip">
          	{{{tooltip}}}
    	</span>
    </i>
{{/if}}