<div class="auto-admin-grid-overlay-editor">
	<div class="display-value auto-admin-grid-filter-value">
		{{{currentValue}}}
	</div>
	<div class="overlay-editor" data-onload-ajax-url="json/data-lkup-dtl-grid.json" data-result-type="grid" data-onload-ajax-target-id="data-lkup-dtl-overlay-editor">
		<div id="data-lkup-dtl-overlay-editor"></div>
		<button type="button" class="btn close icon icon-done">done</button>
	</div>
</div>