<select name="{{name}}" class="auto-admin-grid-filter-value">
    {{#each data}}
		<option value="{{this.value}}" {{optionSelected value ../currentValue}}>{{this.label}}</option>
    {{/each}}
</select>