<select name="{{name}}">
    <option>Please Select</option>
    {{#each data}}
		<option value="{{this.value}}" {{optionSelected this.value ../currentValue}}>{{this.label}}</option>
    {{/each}}
</select>