<li data-value="{{value}}">
    <a href="#">{{value}}: {{label}}</a>
    {{#if tooltip}}
        <i class="icon icon-tooltip select2-help-text">
            <span class="tooltip">
                {{{tooltip}}}
            </span>
        </i>
    {{/if}}
</li>