<div class="message message-{{level}}">
    <header class="label">
        {{{label}}}
        <a href="#" class="message-remove">
            <svg viewBox="0 0 32 32" class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
    </header>
    <div class="content">{{{content}}}</div>
</div>