<div class="module layout-grid-4" id="{{id}}">
    <header class="dnd-label">
        <span class="dnd-handle icon icon-handle"></span>
        <p>{{module_label}}</p>
        <button type="button" class="module-details-toggle icon icon-closed"></button>
    </header>
    <ul class="module-details hide">{{{fields}}}</ul>
</div>