<div class="dnd-item layout-grid-4" id="{{id}}">
    <span class="dnd-handle icon icon-handle"></span>
    <header class="dnd-label">
        <p>{{moduleLabel}}</p>
        <button type="button" class="dnd-details-toggle icon icon-closed"></button>
    </header>
    <ul class="dnd-details hide"></ul>
</div>