<div class="textarea-wrap">
    <textarea name="{{name}}" class="adf-form-input">{{currentValue}}</textarea>
    <a href="#" class="size-toggle">
        <svg viewBox="0 0 32 32" class="icon icon-expand">
            <use xlink:href="#icon-expand"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="icon icon-contract">
            <use xlink:href="#icon-contract"></use>
        </svg>
    </a>
</div>