<table class="adf-grid">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="record-counter"></div>
<div class="adf-grid-actions-wrapper">
    <div class="adf-grid-column-select">
    </div>
    <div class="adf-grid-actions">
    </div>
</div>