<div class="adf-widget-editor adf-region" id="widget-editor" data-adf-region-type="widget-editor" data-adf-ajax-onshow="true">
    {{#if inOverlay}}
        <button type="button" class="btn btn-close overlay-close">
            <svg viewBox="0 0 32 32" class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
            <span>
                Close
            </span>
        </button>
    {{/if}}
    <div class="adf-grid-wrapper"></div>
    <form action="" method="POST" enctype="multipart/form-data" class="adf-grid-upload-form">
        <input type="file" id="adf-grid-upload-input">
        <div class="adf-grid-upload-text" data-drag-target-text="drag here" data-drag-on-text="drop me!"></div>
    </form>
    <div class="upload-drop-zone"></div>
</div>