.btn{
    text-transform: uppercase;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    padding: 0 1em 0 2em;
    text-decoration: none;
    margin: 0 .25em;
    position: relative;
    line-height: 2em;
    min-height: 2em;
    @include button( black );
    svg{
        position: absolute;
        top: .5em;
        left: .5em;
        height: 1em;
        fill: currentColor;
    }


    // CUSTOM
    &.btn-save,
    &.btn-submit,
    &.btn-run,
    &.btn-add{
        @include button( #070 );
    }
}