*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: radial-gradient(farthest-corner at 50% 140% , #ffffff 0%, $primary_color 100%);
    background-attachment: fixed;
    &.environment-qa {
        // background: linear-gradient( 45deg, $primar 0%, $primar 80%, #00ff00 100% );
        background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(0,255,0,.8) 21%, rgba(0,255,0,.8) 34%, transparent 35%, transparent),
                    radial-gradient(circle at 0% 50%, transparent 20%, rgba(0,255,0,.8) 21%, rgba(0,255,0,.8) 34%, transparent 35%, transparent) 0 -50px;
        background-color: slategray;
        background-size: 75px 100px;
        // box-shadow: 0 0 0 30px #00ff00;
    }
    font-size: 14px;
    font-family: 'Lato';
}
.content{
    margin: 4px 20px;
    background: #eee;
    min-height: 800px;
}
body > svg{
    display: none;
}