.adf-messages-window {
    position: fixed;
    bottom: 0;
    z-index: $zindex-messages-window;
    // TODO: remove this when the weird Marionette extra wrapper is gone from the .message
    .messages-wrapper > div {
        display: inline-block;
    }
    .message {
        display: inline-block;
        padding: 4px;
        font-size: 12px;
        font-weight: normal;
        border-style: solid;
        border-width: 1px 1px 0 0;
        &:hover {
            .content {
                position: absolute;
                bottom: 100%;
                left: 0;
                display: block;
                width: 50vw;
                max-height: 50vh;
                min-height: 0;
                margin: 0;
                padding: 12px;
                overflow: scroll;
            }
        }
        &.removed {
            display: none;
        }
    }
    .label {
        min-width: 100px;
        position: relative;
        .message-actions {
            position: absolute;
            top: 1px;
            right: 1px;
            text-align: right;
            a {
                display: inline-block;
            }
            .icon {
                height: 1.2em;
            }
        }
        .message-remove {
            border-radius: 50%;
        }
    }
    .content {
        display: none;
    }
    .message-log {
        @include message-style( $message-log );
    }
    .message-info {
        @include message-style( $message-info );
    }
    .message-debug {
        @include message-style( $message-debug );
    }
    .message-warn {
        @include message-style( $message-warn );
    }
    .message-error {
        @include message-style( $message-error );
    }
}