.module-placeholder {
    height: 30px;
    background: rgba( 0, 0, 0, .5 );
}

.module-list-wrapper {
    padding: 12px 10px 12px 6px;
    &[data-adf-dnd-target=true].dnd-active {
        box-shadow: inset 0 0 8px 1px #393;
    }
}

.module{
    border: 1px solid tint( $primary_color, 70% );
    box-shadow: 2px 2px 6px tint( $primary_color, 50% );
    position: relative;
    .updated & {
        header {
            background: $body-bg-color-updated;
        }
    }
    .error & {
        header {
            background: $body-bg-color-error;
        }
    }
    .dnd-handle{
        position: absolute;
        top: 0;
        left: 0;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        background: $primary-color;
        color: white;
        z-index: 20;
        cursor: move;
        svg {
            width: 24px;
            height: 24px;
            padding-top: 3px;
            fill: white;
        }
    }
    header{ 
      	position: relative;
        display: block;
        height: 2em;
        padding-left: 2.5em;
        background: tint( $primary_color, 60% );
        color: $primary_color;
        font-weight: 700;
        text-transform: uppercase;
        p{
    	   margin: 0;
        	line-height: 2em;
        }
        .module-details-toggle{
    		position: absolute;
    		top: .2em;
    		right: .2em;
            height: 28px;
            width: 28px;
    	  	border: 0;
    	  	background: transparent;
    	  	cursor: pointer;
        }
    }
}