:focus {
    outline: none;
}

.backdrop{
    background: rgba( black, .7 );
    z-index: $zindex-overlay-bg;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.hide{
    display: none !important;
}
.loading{
	min-height: 6em;
}